@model VMProfile

@{
    ViewData["Title"] = "User Profile Pag";
        Layout = "_Layout";
    

}

<html>


<body>
    <div class="Profile">
        <h1>User Profile </h1>

        <form>
            <p> User Name</p> <p> <input type="text" id="Name" value="@Model.Name" placeholder="FullName" required></p>
            <p> Email </p>    <p><input type="text" id="Email" value="@Model.Email" placeholder="Email" required></p>
            <p> Mobile Number</p>   <p><input type="text" id="MobileNumber" value="@Model.MobileNumber" placeholder="MobileNumber" required></p>
            <div>
                <p>
                    <input id="btnUpdate" value="Update Data" type="button" onclick="Update()" />

                </p>

            </div>
            <hr />
        </form>
    </div>
</body>
</html>


@section scripts
{
    <script>
        function Update() {
            console.log($("#Name").val() + "name")
            $.ajax({
                type: "Post",
                url: '@Url.Action("UpdateProfile", "Home")',
                dataType: "JSON",
                async: false,
                data: {
                    Name: $("#Name").val(),
                    Email: $("#Email").val(),
                    MobileNumber: $("#MobileNumber").val(),

                },
                success: function (data) {
                    debugger;
                    if (data.isSuccess = true) {
                        alert("Your data has been updated successfully");
                    }
                    else {
                        alert("something went wrong please try again");
                    }

                },
                error: function (result) {
                    alert("something went wrong please try again");
                }
            })
        }
    </script>

}


